{% extends 'shop/base.html' %} 

{% block title %} Product - BuyEverything {% endblock %}
{% block body %}
<div class="container my-4">
    <div class="row">
        <div class="col-md-4">
            <img src="/media/{{product.image}}" width="233px" height="385px" alt="{{product.product_name}}">
        </div>
        <div class="col-md-8">
            <h5>{{product.product_name}}</h5>
            <p><b>Rs. {{product.price}}</b></p>
            <p>{{product.desc}}</p>
            <button class="btn btn-primary mx-2" onclick="buyNow({{product.id}})">Buy Now</button>
            <button class="btn btn-primary mx-2" onclick="addToCart({{product.id}})">Add To Cart</button>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
function buyNow(id) {
    // Implement buy now functionality
    console.log('Buying product: ' + id);
}

function addToCart(id) {
    // Implement add to cart functionality
    console.log('Adding to cart: ' + id);
}
</script>
{% endblock %}